body {
    font-family: Arial, sans-serif;
    background-color: orange;
}

form {
    width: 450px;
    margin: auto;
    padding: 40px;
    border: 10px solid coral ;
    border-radius: 5px;
    background-color: peachpuff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input.error {
    border-color: red;
}

small.error {
    color: red;
    font-size: 12px;
    display: block;
}
button{
    border-radius: 5px;
    background-color: darkorange;
    width: 120px;
    height: 32px;
}